/* body {
    background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.card {
    height: 35rem;
}

.card-protfolio {
    height: 20rem;
    margin-bottom: 20px;
}

.card-Facilities {
    height: 10rem;
    margin-bottom: 20px;
    padding: 10px;

}

.card-sumary {
    height: 8rem;
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 253) !important;
}

.card-body {
    padding: 2rem 0 !important;

}

.cart-text {
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}

.container-fluid .row {
    padding: 6rem;
    row-gap: 20px;
}

.overflow {
    overflow: hidden;
}

.card-img-top {
    transform: scale(1);
    transition: transform 0.5s ease;
}

.card-img-top:hover {
    transform: scale(1.8);
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* * {
    font-family: 'Poppins', sans-serif;
} */

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
} */

.container {
    position: relative;
}

.container .card {
    position: relative;
    width: 350px;
    height: 500px;
    background: #867e7e;
    border-radius: 20px;
    overflow: hidden;
}

.container .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card:after {
    content: 'Nike';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 25, 0.05)
}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(0%);

}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 270px;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hover .contentBx {
    height: 210px;
}

.container .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #988c8c;
    margin: 0 5px;
    transition: 0.5s;
    color: #8b7f7f;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .size span:hover {
    background: #9bdc28;
}

/* .container .card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2) {
    background: #9bdc28;
}

.container .card .contentBx .color span:nth-child(3) {
    background: #03a9f4;
}

.container .card .contentBx .color span:nth-child(4) {
    background: #e91e63;
} */

.container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
}

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;

}


.control {
    position: absolute;
    /* bottom: 20%; */
    /* left: 22.8%; */

}

.btnnn {

    transform: translateY(0px);
    transition: 0.3s linear;
    background: #229615;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #c6e55f;
    padding: 0;
    margin: 0;

}

.btnnn:hover {
    transform: translateY(-6px);
    background: #1a66ff;
}

.btnnn span {
    font-family: 'Farsan', cursive;
    transition: transform 0.3s;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0;

}

.btn .price,
.shopping-cart {
    background: #dd7d7d;
    border: 0;
    margin: 0;
}

.btnnn .price {
    transform: translateX(-10%);
    padding-right: 15px;
}

.btnnn .shopping-cart {
    transform: translateX(-100%);
    position: absolute;
    background: #5f3838;
    z-index: 1;
    left: 0;
    top: 0;
}

.btnnn .buy {
    z-index: 3;
    font-weight: bolder;
}

.btnnn:hover .price {
    transform: translateX(-110%);
}

.btnnn:hover .shopping-cart {
    transform: translateX(0%);
}

/* CSS */
.button-87 {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-87:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.button-87:active {
    transform: scale(0.95);
}